<h1>CA Brisbane Forum</h1>
<p>Welcome to the Brisbane Coder Academy Forum</p>

<%# media from bootstrap %>
<% @questions.each do |q| %>


<div class="media">
    <div class="media-left media-middle">
        <a href="#">
        <img class="media-object" src=<%=q.gravatar%> >
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading"><%=q.email%> asked:</h4>
        <div><%=time_ago_in_words q.created_at%> ago:</div>
        <%=q.body%>
    <div>
        <a href="<%= question_path(q) %>" class="btn btn-success btn-xs">View Answers</a>
    </div>    
</div>
<% end %>